<h1>
  Todos
</h1>

<p>
  <%= link_to "Create a Todo", new_todo_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @todos.each do |anything| %>
  <tr>
    <td><%= anything.name %></td>
    <td><%= anything.description %></td>
    <td><%= link_to "Edit", edit_todo_path(anything) %></td>
    <td><%= link_to "Show", todo_path(anything) %></td>
    <td><%= link_to "Delete", todo_path(anything), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>

<% if false %>
@todos is calling the @todos variable 
in the index action 
in the Todo controller
anything in pipes can literally be anything

* at first got error 'undefined method each for nil nilclass'
because my 'end' were messed up in the controller *

For edit todo path, the route is 
edit_todo GET    /todos/:id/edit(.:format)
It needs the ID so we give it by saying (anything) which is the object
declared in pipes
<% end %>